.participante-container{
    display: flex;
    align-items: center;
}
.participante-container img{
    margin-top: 50px;
    margin-left: 50px;
}

.participante{
    background-color: #004F80;
    text-align: center;
    height: 50vh;
    width: 25%;
    align-items: center;
    justify-content: center;
}
.participante input{
    width: 90%;
}
.participante button{
    width: 90%;
    margin-top: 30px;
    
}
.participante h2{
    font: 300 27px Roboto, sans-serif;
    margin-top: 30px;
    margin-bottom: 55px;
    color: #fff;

}


