.geral{

}
.container-groups{
    display: flex;
}
.title{
    justify-content: space-between;

}
.float-button{
    position: fixed;
    bottom: 80px;
    right:60px;
    color: #f2f2f2;
    background-color: #099630;
    padding: 15px;
    justify-content: space-between;
    border-radius: 30px;
    display: flex;
    font-size: 16px;
    cursor: pointer;
}
.float-button svg{
    size: 20px;
    font-size: 20px;
}
.float-button:hover{
    width: 130px;
}
.title button{
    margin-top: 10px;
    margin-right: 11px;
    align-items: center;
    padding: 10px;
    border: 0px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    transition: 0.2s;
    
}
.title button:hover{
    background-color: #099630;
    color: #fff

}
.title svg{
    margin-left: 5px;
    margin-bottom: 5px;
}
.title section svg {
    margin-left: 10px;
    margin-top: 15px;
}


.title  svg:hover{
    color: #fff
}
.title button textarea{
    margin-left: 5px;
    margin-bottom: 5px;
}

.groups-container{
    background:#0076BF;
    width: 50% ;
    height: 100vh;
    left: 0px;
}
.groups-container h1{
    font: 300 30px Roboto, sans-serif;
    color:#fff;
    text-align: left;
    padding: 10px;
    margin-left: 10px;
}
.groups-container ul {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 11px;
    list-style: none;
}

.groups-container ul li{
    background: #fff;
    border-radius: 8px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    
}

.groups-container ul li div{
    border-radius: 10px;
    background: rgba(229, 229, 229, 0.75);
    display: flex;
    margin-bottom: 10px;
    margin-right: auto;
    align-items: center;
    height: 30%;
}

.img-container{
    width: 50% ;
    height: 100vh;
}

.img-container img{
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto 
}
.groups-container section{
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
}
.groups-container section strong{
    margin-right: 5px;
    color: #002740;
    font: 500 18px Roboto, sans-serif;
    
}
.groups-container section p{
    margin-right: 4px;
    color: #004F80;
    font: 300 18px Roboto, sans-serif;
    
}
.groups-container section svg{
    margin-right: 4px;

    
}
.group-header{
    margin-left: 0px;
    justify-content: space-between;
    
}
.group-header h2{
    color: #004F80;
    margin-left: 10px;
}
.group-header svg{
    margin-right: 10px;
    margin-top: 10px;
    background-color:transparent;
    margin-bottom: 10px;
    
}
.groupDetails-container{
    position: fixed;
    bottom: 47px;
    right:50px;
    background-color: #fff;
    border-radius: 8px;
    width: 43vw;
    height: 70vh;

    display: block;
    left: px;
}

.group-details-header{
    margin-left: 0px;
    display: flex;
    background-color: #ECECEC ;
    border-radius: 8px;
}
.group-details-header h2{
    color: #004F80;
    margin-left: 5%;
    margin-top: 10px;
}
.group-details-header section{
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.group-details-header svg{
    margin-left: 5px;
    margin-right: 10px;
    background-color:transparent;
    
}

.itens{
    margin-left: 10px; 
    
}
.itens section{
    display: flex;
    padding: 8px;
}
.itens section strong{
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 4px;
}
.itens section p{
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 4px;
}

.itens ul{
    margin-left: 15px;
    display: grid;
    grid-template-columns: repeat(4,3fr);
    grid-gap: 3px;
    list-style: none;

}
.itens ul li{
    display: flex;

  
}
.itens ul li p{
    margin-left: 5px;
    justify-content: baseline;
  
}
