.myprofile{
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.myprofile section {
    width: 380px;
    height: 390px;  
    max-width: 600px;
    background: #004F80;
    margin-top: 60px;
    margin-right: 30px;
    background: #004F80;
}
.myprofile section form{
    padding: 20px;      
}
.myprofile form input{
    width: 100%;
    margin-bottom: 10px;
}
.myprofile form strong{  
    font: 400 17px Roboto, sans-serif;
    color: #fff;
}
.myprofile form button{
    margin-top:50px;
    width: 100%;
    transition: 0.2s;
}
.myprofile form button:hover{
    background-color:#002740 ;
}
